CONFIG_CCPEED_PROVIDER_GPIO_BUTTON_ENABLE=y
CONFIG_CCPEED_PROVIDER_GPIO_BUTTON_1=19
CONFIG_CCPEED_PROVIDER_GPIO_BUTTON_2=20
CONFIG_CCPEED_PROVIDER_GPIO_BUTTON_3=21
CONFIG_CCPEED_PROVIDER_GPIO_BUTTON_4=22
CONFIG_CCPEED_PROVIDER_GPIO_BUTTON_5=23