menu "CCPEED HomeAuto Configuration"

    config CCPEED_PROVIDER_DALI_ENABLE
        bool "Enable DALI bus bridge"
        default false
        help
            If selected, the DALI bus provider will be enabled, bridging the DALI protocol onto CCPEED protocol


    config CCPEED_PROVIDER_DALI_TX_PIN
        int "TX pin"
        depends on CCPEED_PROVIDER_DALI_ENABLE
        help
            The GPIO pin that will be used to transmit DALI commands. 

    config CCPEED_PROVIDER_DALI_RX_PIN
        int "RX pin"
        depends on CCPEED_PROVIDER_DALI_ENABLE
        help
            The GPIO pin that will be used to receive DALI commands and responses. 
                 
    config CCPEED_PROVIDER_GPIO_BUTTON_ENABLE
        bool "Enable GPIO buttons"
        default false
        help
            If selected, the DALI bus provider will be enabled, bridging the DALI protocol onto CCPEED protocol
        
    config CCPEED_PROVIDER_GPIO_BUTTON_1
        int "GPIO button #1"
        depends on CCPEED_PROVIDER_GPIO_BUTTON_ENABLE
        default -1
        help
            GPIO pin number to use as button #1.  Set to -1 to disable.

    config CCPEED_PROVIDER_GPIO_BUTTON_2
        int "GPIO button #2"
        depends on CCPEED_PROVIDER_GPIO_BUTTON_ENABLE
        default -1
        help
            GPIO pin number to use as button #2.  Set to -1 to disable.
                    
    config CCPEED_PROVIDER_GPIO_BUTTON_3
        int "GPIO button #3"
        depends on CCPEED_PROVIDER_GPIO_BUTTON_ENABLE
        default -1
        help
            GPIO pin number to use as button #3.  Set to -1 to disable.

            
    config CCPEED_PROVIDER_GPIO_BUTTON_4
        int "GPIO button #4"
        depends on CCPEED_PROVIDER_GPIO_BUTTON_ENABLE
        default -1
        help
            GPIO pin number to use as button #4.  Set to -1 to disable.
        
    config CCPEED_PROVIDER_GPIO_BUTTON_5
        int "GPIO button #5"
        depends on CCPEED_PROVIDER_GPIO_BUTTON_ENABLE
        default -1
        help
            GPIO pin number to use as button #5.  Set to -1 to disable.
        

    config CCPEED_PROVIDER_GPIO_BUTTON_6
        int "GPIO button #6"
        depends on CCPEED_PROVIDER_GPIO_BUTTON_ENABLE
        default -1
        help
            GPIO pin number to use as button #6.  Set to -1 to disable.
        
endmenu
